//  HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
@require '../vendor/normalize.css'
/* End of Normalize.css */
@import 'components.styl' 

body
    color $black
    background-color $yellow
    font-family 'Poppins', sans-serif

main
    height 100vh 
    align-items center
    
.replace
    &__header 
        .title
            margin-bottom 0
        h2
            font-style italic
            font-weight normal
            
.replace__container
    padding 2vw

.replace__form 
    label
        display block
        font-weight bold
        span
            font-style italic
            font-weight normal
    fieldset
        margin-bottom 1vw
    input[type=text], textarea
        width 100%
        padding 1vw
        color $black
        border-top 0 
        border-left 0
        border-right 0
        border 2px dashed $black
        background-color transparent
        outline-color darken($yellow, 15%)
        +placeholder()
            color darken($yellow, 15%)
    button
        width 100%
        padding 1vw
        color white
        cursor pointer
        font-weight 700
        text-align center
        border 2px solid $black
        background-color $black
        transition all $basetransition
        &:hover
            color $black
            transition all $pseudotransition
            background-color lighten($yellow, 15%)

.replace__result
    padding 1.5vw
    position relative
    border 2px dashed $black
    background-color lighten($yellow, 15%)
    p
        margin-bottom 0
        word-break break-all
    button
        z-index 10
        right 15px
        bottom 15px
        color white
        cursor pointer
        padding 1vw 1.5vw
        position absolute
        display inline-block
        border 1px solid $black
        background-color $black
        transition all $basetransition
        &:hover
            color $black
            transitiion all $pseudotransition
            background-color lighten($yellow, 15%)

.warning
    top 1em
    left 100%
    color white
    position fixed
    padding 1vw 1.5vw
    background-color $black
    transition transform $basetransition
    &.show
        transform translateX(-100%)
        transition transform $pseudotransition
    p
        margin-bottom 0

@import 'mediaqueries.styl'