/* ---------------------------- *\
    
    $Mediaqueries

\*----------------------------- */

@media (min-width: 768px)
    /* $min-width: $768px */
    
    .replace
        &__header 
            .title
                font-size 5vw
                line-height 5vw
            h2
                font-size 3vw
                margin-bottom 1vw

    .replace__container
        .content
            display grid
            grid-gap 2vw
            grid-template-columns 1fr 1fr
    
    .replace__form
        label
            font-size 1.5vw
            margin-bottom 1vw
        input[type=text], textarea
            font-size 2vw
        button
            font-size 2vw

    .replace__char-to
        label
            max-width 32vw

    .replace__char-by
        label
            max-width 32.5vw
    
    .replace__result
        p
            font-size 2.5vw
        button
            font-size 2vw

@media (max-width: 767px)
    /* $max-width: $767px */
    
    .replace__container
        padding 10vw 2vw

    .replace
        &__header 
            .title
                fontSize(45)
                line-height 45px

    .replace__form
        margin-bottom 2em
        fieldset, label
            margin-bottom 1em
        textarea
            min-height 100px
    
    .replace__result
        min-height 100px
        

//  Print styles

@media print
    * 
        background transparent !important
        color #000 !important // Black prints faster: h5bp.com/s
        box-shadow none !important
        text-shadow none !important

    a,
    a:visited
        text-decoration underline

    a[href]:after
        content " (" attr(href) ")"

    abbr[title]:after
        content " (" attr(title) ")"

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after
        content ""

    pre,
    blockquote
        border 1px solid #999
        page-break-inside avoid

    thead
        display table-header-group // h5bp.com/t

    tr,
    img
        page-break-inside avoid

    img
        max-width 100% !important

    @page
        margin 0.5cm

    p,
    h2,
    h3
        orphans 3
        widows 3

    h2,
    h3
        page-break-after avoid